.header-container {
    align-items: center;
    background-color: $dark-background;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.app-name {
    color: $white-text;
    font-weight: 800;
    font-size: 30px;
    font-family: $header-text;
}

.app-name-color-accent {
    color: $purple-text;
}