//BACKGROUND COLORS

$dark-background: #524649;
$medium-background: #EAEAEA;
$light-background: #F9F9FA;

//FONT COLORS

$purple-text: #B2A1B1;
$white-text: #FFFFFF;
$idea-card-title-text: #6E646B;
$idea-card-body-text: #7C7879;
$idea-card-footer-text: #7C7879;

//BUTTON COLORS

$save-button-active: #6E646B;
$save-button-disabled: #C2C1C0;
$save-button-hover: #524649;

//BORDER COLOR

$border-color: #D2CCCD;

//FONTS

$header-text: 'Open Sans', 800;
//add ExtraBold 800 as font weight
$body-and-label-text: 'Open Sans';
//add Light 300 as font weight

//BOX SHADOW

$card-box-shadow: 2px 2px #a8a3a4;